build/
build-x86/
build-ci/
build-rel/
out/
.vs/
.hermes/
*.user
*.suo
*.sdf
*.opensdf
CMakeCache.txt
CMakeFiles/
cmake-install.cmake
install_manifest.txt
*.exe
*.pdb
*.obj
*.ilk
*.log
.cache/
tools/_spawn/
tools/_verify_empty/
